#Encabezado{
    background-image: url(../imagenes/fondo_prueba.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 65em;
    position: relative;
  }

  #nombreLogo {
   width: 12%; 
   margin-left: 108px
  }

  #estrellaLogo {
    width: 20%;
    position: absolute;
    margin-top: -95px;
    margin-left: -69px;
    z-index: 100;
  }

  .barraNavegacion {
      position: relative;
      background-color: black;
      top: 40px;
      border:darkgray solid 2px;
      border-radius: 5px;
  }

  .botonesBarraNavegacion {
      display: block;
      float:right;
      padding: .5rem 1rem;
      color: darkgray;
      text-decoration: none;
      border-right:darkgray solid 1px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;

  }

  .botonesBarraNavegacion:hover {
      background-color: #F07800;
      color: darkgray;
  }

  .ultimoBoton {
      border-right:none;
  }

  .carousel {
      width: 30%;
      margin-left: 400px;
  }

  .Titulo {
        color:darkgray;
    }


.fondo { /* pasarlo a la hoja de estilo de cada una de las seccion */
    background-color: black;
    height: 740px;
}

.presentacion { /* pasarlo a la hoja de estilo de NOSOTROS */
    padding-top: 40px;
    padding-left: 75px;
    padding-right: 75px;
    color: #f2f2f2;
    text-align: center;
}

.colorFondoDropdownBoton {
    background-color:black;
}

.colorLetraLinksDropdown {
    color: #f2f2f2;
}

.seccionDestacados {
    padding:20px;
    position:relative;
    top:40px;
}

.calesita {
    width: 80%;
    margin-left: 120px;
}

#flechaAnterior {
    opacity: 1;
    margin-left: -120px;
}

#flechaSiguiente {
    opacity: 1;
    margin-right: -120px;
}

.iconoFlecha {
    height: 90px;
    width: 80px;
}

.barraFooter {
    flex-grow: 0;
    margin-right: 60px;
}

.textoBarraFooter{
    margin-left:380px;
}

.botonesBarraFooter {
    padding: 15px;
}