 .hojaIndex {
    background: url(imagenes/fondo.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
  }

  #nombreLogo {
   width: 12%; 
   margin-left: 108px
  }

  #estrellaLogo {
    width: 20%;
    position: absolute;
    margin-top: -95px;
    margin-left: -69px;
    z-index: 100;
  }

  .barraNavegacion {
      background-color: black;
      margin-top: 40px;
      border:darkgray solid 2px;
      border-radius: 5px;
  }

  .botonesBarraNavegacion {
      display: block;
      float:right;
      padding: .5rem 1rem;
      color: darkgray;
      text-decoration: none;
      border-right:darkgray solid 1px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;

  }

  .botonesBarraNavegacion:hover {
      background-color: #F07800;
      color: darkgray;
  }

  .ultimoBoton {
      border-right:none;
  }

  .carousel {
      width: 30%;
      margin-left: 400px;
  }

  .Titulo {
        color:darkgray;
    }

.fondo {
    background-color: black;
    height: 740px;
}

.presentacion {
    padding-top: 40px;
    padding-left: 75px;
    padding-right: 75px;
    color: #f2f2f2;
    text-align: center;
}

.cuadroCancion {
    padding:10px;
}

*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.colorFondoDropdownBoton {
    background-color:black;
}

.colorLetraLinksDropdown {
    color: #f2f2f2;
}

.contenedorProductosDestacados {
    background-color: black;
    opacity: 0.9;
    border:darkgray solid 2px;
    border-radius: 5px;
    margin-bottom: 100px;
    padding-left:30px;
}

.imagenesProductosDestacados {
    width:auto;
}

.pestañas {
    margin-top: 20px;
    margin-bottom: 20px;
}

.clasePrueba {
    background-color: black;
    margin-top: 860px;
}